@*This page is to show the the variables available from the
    DetailedForecast live API. Set the page in a readable format.*@

@model WeatherForecastWeb.Models.WeatherForecastDetailsModel
@{
    ViewData["Title"] = "Detailed Weather Forecast";
}

@*At top of the page, show today's date and location as large text.*@
<div>
    <h1>Your Detailed Weather Forecast</h1>
    <strong>@Model.location</strong> <br />
    <strong>@Model.forecastDate</strong> <br />

    <img src="@Url.Content("~/images/joliet2.png")" style="width:500px; height:400px"> <br />
    <p>This is the Rialto Theater at downtown Joliet. Did you it is also home for art
        made by students at the Univerity of St. Francis? Well, you can take a look
        around the corner to see for yourself!</p> <br />

    <p>In the meantime, how about a song to listen to? Best to stay calm during the day.</p>
    <iframe style="width:400px; height:300px" src="https://www.youtube.com/embed/6l6vqPUM_FE"></iframe>

    <p>And now back to your weather reports, just below this page. The Rialto Theater is
    iconic to Joliet!</p>
</div>

@* Display detailed weather forecast info in the form of a description list *@
<hr />
<div>
    <dl class="dl-horizontal">
        <dt>Temperature: </dt>
        <dd>@Model.temperature Fahrenheit</dd>
        <dt>Feels Like: </dt>
        <dd>@Model.feelsLike Fahrenheit</dd>
        <dt>Descriptor: </dt>
        <dd>@Model.descriptor</dd>
        <dt>Wind Speed: </dt>
        <dd>@Model.windSpeed mph</dd>
        <dt>Wind Direction: </dt>
        <dd>@Model.windDirection</dd>
        <dt>Pressure: </dt>
        <dd>@Model.pressure kPa</dd>
        <dt>Visibility: </dt>
        <dd>@Model.visibility%</dd>
        <dt>Cloudiness: </dt>
        <dd>@Model.clouds</dd>
        <dt>Humidity: </dt>
        <dd>@Model.humidity%</dd>
        <dt>Chance of Rain: </dt>
        <dd>@Model.rainfall%</dd>
        <dt>Chance of Snow: </dt>
        <dd>@Model.snowfall%</dd>
    </dl>

    <img src="~/images/@Model.imagePath" alt="@Model.imagePath" style="width:400px; height:300px">
</div>
